h1 {
  color: rgb(52, 97, 137);
}
.highlights {
  padding-left: 25px;
}
#picture {
  max-width: 100%;
}
#firstColumn {
  padding: 5px;
  padding-bottom: 150px;

  margin: 20px;
  text-align: center;
  border: 3px solid #006fa9;
}
#search-input {
  display: inline-block;
}
h5 {
  text-align: left;
}
.wind {
  padding: 5px;
  padding-bottom: 150px;

  margin: 20px;
  text-align: center;
  border: 3px solid #006fa9;
}
.humidity {
  padding: 5px;
  padding-bottom: 0px;

  margin: 20px;
  text-align: center;
  border: 3px solid #006fa9;
}
